.Note 
{
    width: 300px;
    height: 400px;
    margin: 15px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-family: 'Poppins', sans-serif;
}

.Note .Header {
    height: 30px;
    background-color: rgba(107,170,244,1);
    text-align: left;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Note .Header h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #000;
    opacity: 0.8;
}

.Note .Header .Icons {
    font-size: 20px;
    color: aliceblue;
}

.Note .Header .Icons .Icon {
    padding-left: 8px;
}

.Note .Header .Icons .Icon:active {
    transform: scale(0.95);
}

.Note .Header .Icons .Icon:hover {
    color: #000;
    opacity: 0.5;
}

.Note .Body {
    margin: 0 16px;
    text-align: justify;
}