.Note 
{
    width: 300px;
    height: 400px;
    margin: 15px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-family: 'Poppins', sans-serif;
}

textarea {
    border: none;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    background-color: aliceblue;
}

textarea:focus {
    outline: none;
}

textarea:placeholder-shown {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.Note .Header {
    height: 30px;
    background-color: rgba(107,170,244,1);
    text-align: left;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Note .Header textarea {
    background-color: rgba(107,170,244,1);
    font-size: 18.72px;
}

.Note .Header h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #000;
    opacity: 0.8;
}

.Icon {
    font-size: 20px;
    color: aliceblue;
}

.Note .Header .Icons .Icon {
    padding-left: 8px;
}

.Icon:active {
    transform: scale(0.95);
}

.Icon:hover {
    color: #000;
    opacity: 0.5;
}

.Note .Body {
    margin: 0 16px;
    text-align: justify;
}

.Note .Body textarea {
    margin: 16px 0 0 0;
    text-align: justify;
}

.Note .Footer {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Note .Footer button {
    margin: 0;
}

.Note .New {
    transition: all 5s ease-in-out;
    position: fixed;
}